<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.AdminDAO">


    <select id="queryOne" resultType="com.baizhi.entity.Admin" >
         select * from t_Admin where name=#{name} and password=#{password}
    </select>

    <update id="update" parameterType="com.baizhi.entity.Admin">
     	update t_Admin set name=#{name},password=#{password} where id=#{id}
     </update>


    <select id="queryById" resultType="com.baizhi.entity.Admin" >
         select * from t_Admin where id=#{id}
    </select>

</mapper>
