<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.MenusDAO">


    <resultMap id="map" type="com.baizhi.entity.Menus">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="iconCls" column="iconCls"/>
        <result property="href" column="href"/>
        <collection property="list" ofType="com.baizhi.entity.Menus">
            <id property="id" column="cid"/>
            <result property="name" column="cname"/>
            <result property="iconCls" column="ciconCls"/>
            <result property="href" column="chref"/>
        </collection>

    </resultMap>

    <select id="queryAll"  resultMap="map">
        select
         p.id id,
         p.name name,
         p.iconCls iconCls,
         p.href href,
         c.id cid,
         c.name cname,
         c.iconCls ciconCls,
         c.href chref
         from cmfz_menu p join cmfz_menu c on p.id=c.p_id
    </select>



</mapper>
